
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
body{
  background: linear-gradient(
    120deg,
    #555555 20.69%,
    #333333 50.19%,
    #111111 79.69%
  );
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo {
  max-height: 60px;
}
.logo .fa-solid{
  font-size: 50px;
  color: #fd4766;
  cursor: pointer;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #ffffff;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #fd4766;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}
.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.content {
  margin-top: 5%;
  margin-left: 8%;
}

.content .title {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #56b2fd 20.69%,
    #9670ff 50.19%,
    #ff788e 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 100%;
}
.content h1 span {
  color: #fd4766;
}
.content p {
  width: 55%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
}
.container{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.container .title2{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}
.box-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.box-wrapper > .box{
  flex: 1 1 200px;
  width: calc(20% - 2px);
  height: 150px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.box .fa-brands{
  font-size: 70px;
  color: #fd4766;
}
.box-label{
  color: #ffffff;
}
.box-pro{
  flex: 1 1 200px;
  width: calc(20% - 2px);
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #fd4766;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sbtl{
  color:#fd4766;
  font-size: 15px;
  text-align:center;
}
.gtint{
  text-align: justify;
  padding:0 80px;
  color:#ffffff;
}
.btn-wrapper{
  display: flex;
  align-items:center;
  justify-content: center;
}
.icn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 20px;
}
.icn{
  font-size: 20px;
  color: #fd4766;
}
@media (max-width: 768px){
  .box{
    flex-basis: calc(33.33% - 20px);
    width: calc(33.33% - 20px);
  }
}
@media (max-width: 576px){
  .box{
    flex-basis: calc(50% - 20px);
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px){
  .box{
    flex-basis: 100%;
    width: 100%;
  }
}
footer{
  text-align: center;
}
footer span{
  font-size: 15px;
  color: #fd4766;
}