.section {
  padding: 20px;
  color: #E5E7EB;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev-icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  gap: 1.2rem;
  flex-wrap: wrap;
  max-width: 900px;
}

.dev-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #E5E7EB;
  width: 150px;
  height: 150px;
  padding: 20px;
}
.dev-icon span{
  font-size: 70px;
  color: #ffc003;
}

.section p a {
  text-decoration: none;
  color: #ffc003;
}

.section p a:hover {
  transition: 1s;
}

.projects {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 20px 0;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #292929;
  padding: 20px 50px;
  width: 200px;
  height: 150px;
  color: #E5E7EB;
  border-radius: 10px;
  transition: transform 0.3s ease
}

.project-wrapper:hover {
  background-color: #ffc003;
  transform: scale(1.1);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.project-wrapper.icon svg {
  fill: #E5E7EB;
}

.project-wrapper.project-name {
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
}

.project-wrapper a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: small;
}

.project-wrapper a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  
 
  .projects {
     flex-direction: column;
     align-items: center;
   }
 
  .project-wrapper {
     margin-bottom: 20px;
     width: 50%;
   }
 }
@media (max-width: 480px) {

.project-wrapper {
    width: 60%;
    height: auto;
    padding: 20px;
  }
}